body{
    margin-left: 271.5pt;
    margin-right: 271.5pt;
    text-align:left;
}

.code {
    margin-left: 0pt;
    margin-right: 0pt;
    text-align:justify;
    font-family: "Courier New", monospace;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

h1 {
    font-family: "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Geneva, Arial, sans-serif;
    font-size: 31.5pt;
    margin-top: 41.25pt;
}

p {
    font-family: Georgia, Cambria, "Times New Roman", Times, serif;
    font-size: 15.75pt;
}

ul.menu {
    margin-left: -271.5pt;
    margin-right: -271.5pt;
    padding: 10px;
    background-color: #FAF9F8;
    text-decoration: none;
    list-style: none;
    border-top: solid;
    border-bottom: solid;
    border-width: 2px;
    border-color: grey;
    align-items: center;
}

li.point a:hover{
    cursor: pointer;
    text-decoration: 2px underline;
    color: red;
    align-content: center;
}

li.point {
    display: inline-block;
    font-size: 24px;
    color: #333333;
    font-family: "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Geneva, Arial, sans-serif;
    text-align:left;
    line-height:36px;
    padding: 10px;
}

img.logo {
    margin-left: 0;
    width: 5%;
    margin-left: -271.5pt;
}

@media (max-width: 800px) {
    img.logo {
        margin-left: 0pt;
        width: 20%
    }

    body{
        margin-left: 0pt;
        margin-right: 0pt;
        text-align:left;
    }

    ul.menu {
        margin-left: 0pt;
        margin-right: 0pt;
        display: block;
    }
}
